<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367945689357-djgcfvva2d159cjct7kavf3ee3ta9c58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367945689357-djgcfvva2d159cjct7kavf3ee3ta9c58</string>
	<key>API_KEY</key>
	<string>AIzaSyCORJ1sSznslCDH4Q9xuo3s48yL5olvXpk</string>
	<key>GCM_SENDER_ID</key>
	<string>367945689357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexionescu.PasteBin-Clone</string>
	<key>PROJECT_ID</key>
	<string>pastebin-clone-8ad3f</string>
	<key>STORAGE_BUCKET</key>
	<string>pastebin-clone-8ad3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367945689357:ios:9d8ce4c289c2c5a9efa844</string>
</dict>
</plist>